span {
    width: 20px;
    height: 20px;
    background-color: black;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid blue;
}

.controls {
    width: 300px;
    height: 220px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    border: solid 2px black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.gray {
    background-color: gray;
}
